.pink-button{
    padding: 5px 15px;
    background-color: #ff004e;
    color: white;
    border-color: #ff004e;
    transition: 0.5s;

    cursor: pointer;
    &:hover{
        background-color: black;
        color: white;
        border-color: black;
        transition: 0.5s;
    }
    
}
.white-button{
    padding: 5px 15px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
        background-color: black;
        color: white;
        border-color: black;
        transition: 0.5s;
    }
}
.black-button{
    
    padding: 5px 15px;
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;

    &:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-color: rgb(255, 252, 252);
        transition: 0.5s;
    }
}