
.pink-button{
    padding: 10px 15px;
    background-color: #ff004e;
    color: white;   
    transition: 0.5s;
    width: 150px;

    cursor: pointer;
    font-family: var(--font-heading-family);
    font-weight: bold;
    &:hover{
        background-color: black;
        color: white;
        border-color: black;
        transition: 0.5s;
    }
    
}
.white-button{
    padding: 10px 15px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    font-family: var(--font-heading-family);
    font-weight: bold;
    background-color: transparent;
    width: 150px;
    &:hover{
        background-color: black;
        color: white;
        border-color: black;
        transition: 0.5s;
    }
}
.black-button{
    
    padding: 10px 15px;
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;

    font-family: var(--font-heading-family);
    font-weight: bold;
    width: 150px;
    &:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-color: rgb(255, 252, 252);
        transition: 0.5s;
    }
}