@charset "UTF-8";
.pink-button {
  padding: 10px 15px;
  background-color: #ff004e;
  color: white;
  border-color: #ff004e;
  transition: 0.5s;
  cursor: pointer;
  font-family: var(--font-heading-family);
}
.pink-button:hover {
  background-color: black;
  color: white;
  border-color: black;
  transition: 0.5s;
}

.white-button {
  padding: 10px 15px;
  box-sizing: border-box;
  transition: 0.5s;
  cursor: pointer;
  font-family: var(--font-heading-family);
}
.white-button:hover {
  background-color: black;
  color: white;
  border-color: black;
  transition: 0.5s;
}

.black-button {
  padding: 10px 15px;
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
  font-family: var(--font-heading-family);
}
.black-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-color: rgb(255, 252, 252);
  transition: 0.5s;
}

#footer {
  background-image: url(https://dt-ezyrider.myshopify.com/cdn/shop/files/Component_7_1_79f36a61-c447-43a9-b009-0c763dd719be.jpg?v=1670050917);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 70vh;
  padding-top: 30px;
}
#footer .footertop {
  height: auto;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
}
#footer .footertop .inputsfooter {
  max-width: 400px;
}
#footer .footertop .inputsfooter input {
  width: 300px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}
#footer .footertop .inputsfooter button {
  color: #ff004e;
  background-color: transparent;
  border: none;
  transition: 0.2s;
}
#footer .footertop .inputsfooter button:hover {
  color: white;
  cursor: pointer;
}
#footer .footertop .inputsfooter i {
  color: white;
  transition: 0.2s;
}
#footer .footertop .inputsfooter button:hover i {
  color: #ff004e;
  transition: 0.2s;
  transform: rotate(45deg);
}
#footer .footertop img {
  padding-top: 20px;
  max-width: 150px;
}
#footer .footertop li {
  font-size: 15px;
}
#footer .footertop .footericons {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
#footer .footertop .footericons .iconcircle {
  width: 40px;
  height: 40px;
  border: 2px solid #8e8e8e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 15px;
  color: #8e8e8e;
}
#footer .footertop .footericons .iconcircle:hover {
  color: #ff004e;
  border: 2px solid #ff004e;
  cursor: pointer;
}
#footer .footertop h6 {
  font-size: 20px;
}
#footer .footertop .header {
  font-size: 30px;
}
#footer .footertop .pages {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#footer .footertop .doublefooter {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}
#footer .footertop .footerbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 50vh;
}
#footer .footertop .footerbox ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#footer .footertop .footerbox ul li a {
  color: white;
  text-decoration: none;
}
#footer .footertop .footerbox .contact {
  margin-bottom: 20px;
  height: 30vh;
}
#footer .aboutbox {
  gap: 20px;
}
#footer .footerbottom {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-top: 2px solid #8e8e8e;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .footerbottom .bottombox {
  height: 100%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#footer .footerbottom .bottombox span {
  color: white;
}
#footer .footerbottom .bottombox span a {
  color: white;
  transition: 0.4s;
}
#footer .footerbottom .bottombox span a:hover {
  cursor: pointer;
  color: #ff004e;
  text-decoration: none;
  transition: 0.4s;
}

@media screen and (max-width: 995px) {
  #footer .footertop li {
    font-size: 10px;
  }
  #footer .footertop h6 {
    font-size: 15px;
  }
  #footer .footertop .iconcircle {
    font-size: 10px;
  }
  #footer .footertop .header {
    font-size: 20px;
  }
  .footertop img {
    display: none;
  }
  .footerbox {
    text-align: center;
  }
  .footerbottom img {
    width: 100px;
  }
  .footerbottom {
    justify-content: center;
    align-items: center;
  }
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

header .navbar_rider {
  background-color: #e5e2d8;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  z-index: 3;
  position: fixed;
}
header .navbar_rider .logoAndBar {
  display: flex;
  min-width: 54%;
  max-height: 100%;
  justify-content: space-between;
  align-items: center;
}
header .navbar_rider .logoAndBar #navbar_bar_close_icon {
  font-size: 40px;
  margin-left: 20px;
  color: gray;
  cursor: pointer;
  transition: 0.2s;
  display: none;
}
header .navbar_rider .logoAndBar #navbar_bar_close_icon:hover {
  color: #ff004e;
  transition: 0.2s;
}
header .navbar_rider .logoAndBar #navbar_bar_icon {
  font-size: 40px;
  margin-left: 20px;
  color: gray;
  cursor: pointer;
  transition: 0.2s;
}
header .navbar_rider .logoAndBar #navbar_bar_icon:hover {
  color: #ff004e;
  transition: 0.2s;
}
header .navbar_rider .logoAndBar .logo {
  height: 100%;
}
header .navbar_rider .logoAndBar .logo img {
  max-width: 96px;
}
header .navbar_rider .searchAndBAsket {
  min-width: 45%;
  display: flex;
  justify-content: end;
  gap: 30px;
}
header .navbar_rider .searchAndBAsket .search_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-height: 60%;
  padding: 0px 10px 0px 30px;
  margin-top: 10px;
  border-bottom: 2px solid gray;
}
header .navbar_rider .searchAndBAsket .search_box .navbar_search {
  border: none;
  background-color: transparent;
}
header .navbar_rider .searchAndBAsket .search_box a {
  color: gray;
}
header .navbar_rider .searchAndBAsket .search_box a:hover {
  color: #ff004e;
  text-decoration: none;
}
header .navbar_rider .searchAndBAsket .search_box .navbar_search:focus {
  outline: none;
}
header .navbar_rider .navbar_basket {
  margin-right: 30px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
header .navbar_rider .navbar_basket i {
  color: #ff004e;
  font-size: 25px;
}
header .navbar_rider .navbar_basket .basket_number {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  color: #ff004e;
  position: absolute;
  bottom: 3px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}
header .navbar_rider .navbar_basket:hover .basket_number {
  left: 30px;
  transition: 0.6s;
}

.line {
  margin-top: -2.5px;
  width: 150px;
  height: 3.5px;
  background: linear-gradient(0.25turn, rgba(128, 128, 128, 0.276), #ff004e);
  position: relative;
  animation: lineH 20s linear infinite;
  border-radius: 92% 4% 4% 93%/55% 41% 48% 45%;
  position: fixed;
  top: 80px;
  z-index: 6;
}

@keyframes lineH {
  0% {
    left: 0%;
  }
  100% {
    left: 90%;
  }
}
@media screen and (max-width: 917px) {
  header .navbar_rider {
    position: relative;
    width: 100%;
  }
  header .navbar_rider .searchAndBAsket {
    min-width: 0%;
    display: flex;
    justify-content: end;
    gap: 10px;
  }
  header .navbar_rider .searchAndBAsket .search_box {
    padding: 0px;
    max-width: 30%;
  }
  header .navbar_rider .searchAndBAsket .search_box .navbar_search {
    display: none;
  }
  header .navbar_rider .navbar_basket .basket_number {
    bottom: 0px;
  }
  header .line {
    display: none;
  }
}
.click_bar {
  background-color: #ebe7e2;
  width: 25%;
  height: 90vh;
  overflow: hidden;
  display: none;
  padding: 45px 40px 0px 40px;
  opacity: 1;
  position: fixed;
  left: 0;
  top: 80px;
  z-index: 5;
}
.click_bar .click_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.click_bar .click_box .navbar_up {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 3;
}
.click_bar .click_box .navbar_up #homePage {
  color: #ff004e;
}
.click_bar .click_box .navbar_up li {
  cursor: pointer;
}
.click_bar .click_box .navbar_up li a {
  color: rgb(85, 82, 82);
}
.click_bar .click_box .navbar_up li:hover {
  padding: 0px 10px;
  background-color: rgba(128, 128, 128, 0.207);
}
.click_bar .click_box .navbar_up li:hover a {
  color: #ff004e;
  text-decoration: none;
}
.click_bar .click_box .nabar_down {
  width: 60%;
}
.click_bar .click_box .nabar_down .navbar_login {
  font-size: 20px;
}
.click_bar .click_box .nabar_down .navbar_login a {
  color: rgb(85, 82, 82);
  text-decoration: none;
}
.click_bar .click_box .nabar_down .navbar_social_media {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 20px 0px;
  cursor: pointer;
  flex-wrap: wrap;
}
.click_bar .click_box .nabar_down .navbar_social_media div {
  height: 40px;
  width: 40px;
  border: 2px solid rgb(85, 82, 82);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.click_bar .click_box .nabar_down .navbar_social_media div i {
  color: rgb(85, 82, 82);
}
.click_bar .click_box .nabar_down .navbar_social_media div:hover {
  border: 2px solid #ff004e;
}
.click_bar .click_box .nabar_down .navbar_social_media div:hover i {
  color: #ff004e;
}

@media screen and (max-width: 917px) {
  .click_bar {
    position: absolute;
    top: 80px;
    width: 70%;
    height: 87.7vh;
  }
  .click_bar .click_box .nabar_down .navbar_social_media {
    font-size: 15px;
    gap: 2px;
    max-width: 60%;
  }
  .click_bar .click_box .nabar_down .navbar_social_media div {
    height: 30px;
    width: 30px;
  }
}
.page_blur {
  height: 89vh;
  right: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  z-index: 5;
  top: 80px;
}

@media screen and (max-width: 917px) {
  .page_blur {
    height: 89vh;
    right: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    z-index: 5;
  }
}
html {
  scroll-behavior: smooth;
}

.upper_page {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 5;
}
.upper_page a i {
  font-size: 40px;
  color: #ff004e;
}
.upper_page a i:hover {
  color: black;
}

#home {
  width: 100%;
  height: 100vh;
}
#home .carousel-item .first {
  background-image: url("https://dt-ezyrider.myshopify.com/cdn/shop/files/Component_1_1.jpg?v=1670846020");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#home .carousel {
  font-family: var(--font-heading-family);
}
#home .carousel .carousel-inner .bg-img-1 {
  background-image: url("https://dt-ezyrider.myshopify.com/cdn/shop/files/Component_1_1.jpg?v=1670846020");
}
#home .carousel .carousel-inner .bg-img-2 {
  background-image: url("https://dt-ezyrider.myshopify.com/cdn/shop/files/slide-2.jpg?v=1677565134");
}
#home .carousel .carousel-inner .bg-img-3 {
  background-image: url("https://dt-ezyrider.myshopify.com/cdn/shop/files/slide-3.jpg?v=1677565134");
}
#home .carousel .carousel-inner .carousel-image {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#home .carousel .carousel-inner .container {
  width: 100%;
  height: 100vh;
  padding: 20px;
}
#home .carousel .carousel-inner .container .home-texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  margin: auto;
  transition: 0.4s;
}
#home .carousel .carousel-inner .container .home-texts:hover .partner {
  backdrop-filter: blur(0px);
  transition: 0.4s;
}
#home .carousel .carousel-inner .container .home-texts .partner {
  width: 60%;
  padding: 50px 100px 50px 0;
  backdrop-filter: blur(10px);
}
#home .carousel .carousel-inner .container .home-texts .partner :first-child {
  font-size: 15px;
  color: #ff004e;
  font-family: var(--font-body-family);
}
#home .carousel .carousel-inner .container .home-texts .partner h1 {
  font-family: "Alice", serif;
  font-weight: bold;
  margin: 30px 0;
}
#home .carousel .carousel-inner .container .home-texts .partner :nth-child(3) {
  width: 60%;
  font-family: "Gruppo", sans-serif;
}
#home .carousel .carousel-inner .container .home-texts .number {
  width: 10%;
  height: 50px;
  position: relative;
  transform: rotate(90deg);
  margin-left: 40px;
}
#home .carousel .carousel-inner .container .home-texts .number .number-of-image {
  display: flex;
  justify-content: space-between;
}
#home .carousel .carousel-inner .container .home-texts .number hr {
  bottom: -4px;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: rgb(57, 57, 57);
}
#home .carousel .carousel-inner .container .properties {
  width: 100%;
  height: 20%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#home .carousel .carousel-inner .container .properties .letters {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home .carousel .carousel-inner .container .properties .letters span,
#home .carousel .carousel-inner .container .properties .letters i {
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 5px;
  transition: 0.5s;
  border-radius: 5px;
  cursor: pointer;
}
#home .carousel .carousel-inner .container .properties .letters span:hover,
#home .carousel .carousel-inner .container .properties .letters i:hover {
  background-color: rgb(192, 191, 191);
  transition: 0.5s;
}
#home .carousel .carousel-inner .container .properties .name-of-bike {
  background-color: #ff004e;
  width: 300px;
  padding: 30px;
  color: white;
  box-shadow: -5px -4px 65px 29px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: -5px -4px 65px 29px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: -5px -4px 65px 29px rgba(0, 0, 0, 0.37);
}

@media screen and (max-width: 678px) {
  #home .carousel .carousel-inner .carousel-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
  }
  #home .carousel .carousel-inner .carousel-item .container {
    display: flex;
    align-items: flex-end;
  }
  #home .carousel .carousel-inner .carousel-item .container .home-texts {
    height: 50%;
    width: 100%;
    backdrop-filter: blur(0px);
  }
  #home .carousel .carousel-inner .carousel-item .container .home-texts .partner {
    width: 100%;
  }
  #home .carousel .carousel-inner .carousel-item .container .home-texts .partner :nth-child(3) {
    display: none;
  }
  #home .carousel .carousel-inner .carousel-item .container .home-texts .number {
    display: none;
  }
  #home .carousel .carousel-inner .carousel-item .container .properties {
    display: none;
  }
}
@media screen and (min-width: 679px) and (max-width: 992px) {
  #home .carousel .carousel-inner .carousel-item .container .home-texts .number {
    display: none;
  }
  #home .carousel .carousel-inner .carousel-item .container .properties {
    display: none;
  }
}
#banner-media {
  background-image: url(https://dt-ezyrider.myshopify.com/cdn/shop/files/Component_15_1.jpg?v=1669964764&width=1500);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
#banner-media .bannerbox {
  margin-right: 150px;
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#banner-media .bannerbox .newlaunch {
  color: #ff004e;
  font-size: 20px;
  background-color: #dcd8cd;
}
#banner-media .bannerbox h2 {
  font-size: 50px;
  text-align: center;
}
#banner-media .bannerbox p {
  font-size: 16px;
}
#banner-media .bannerbox .bottombuttons {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
#banner-media .bannerbox .bottombuttons #button1 {
  width: 200px;
  height: 40px;
  transition: 0.4s;
}
#banner-media .bannerbox .bottombuttons #button1:hover {
  color: white;
  transition: 0.4s;
  background-color: black;
}
#banner-media .bannerbox .bottombuttons #button2 {
  width: 200px;
  height: 40px;
  border: none;
  background-color: #ff004e;
  color: white;
  transition: 0.4s;
}
#banner-media .bannerbox .bottombuttons #button2:hover {
  transition: 0.4s;
  background-color: black;
}

@media screen and (max-width: 991px) {
  .bannerbox {
    margin: auto !important;
  }
  .bannerbox .bottombuttons {
    font-size: 10px;
  }
  #banner-media {
    padding: 100px !important;
  }
  .cardbox h6 {
    font-size: 20px !important;
  }
  .cardbox p {
    font-size: 10px !important;
  }
  .cardbox a {
    font-size: 10px !important;
  }
  .cardbox span {
    font-size: 5px !important;
  }
  .bannerbox {
    margin-right: 150px;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .bannerbox .newlaunch {
    font-size: 10px;
  }
  .bannerbox h2 {
    font-size: 25px !important;
  }
  .bannerbox p {
    font-size: 8px !important;
  }
}
#smartE-bike {
  width: 100%;
  position: relative;
  min-height: 950px;
  background-color: #ebe7e2;
}
#smartE-bike .imgdiv {
  max-width: 60%;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0.3;
}
#smartE-bike .imgdiv2 {
  max-width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0.3;
  transform: scaleX(-1);
}
#smartE-bike #smartE-bikebox {
  min-height: 800px;
  max-width: 80%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#smartE-bike #smartE-bikebox .smarttop {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}
#smartE-bike #smartE-bikebox .smarttop h2 {
  font-size: 60px;
  text-align: center;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
  z-index: 2;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .cardbox {
  margin-left: auto;
  display: flex;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .cardbox h6 {
  font-size: 30px;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .cardbox p {
  font-size: 20px;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .cardbox a {
  font-size: 15px;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .smartcard {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 20px;
  background-color: #dcd8cd;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .smartcard button {
  background-color: #dcd8cd;
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .smartcard button:hover {
  cursor: pointer;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .swipebuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#smartE-bike #smartE-bikebox .smartbottom {
  z-index: 1;
  text-align: center;
}
#smartE-bike #smartE-bikebox .smartbottom h3 {
  font-size: 40px;
}
#smartE-bike #smartE-bikebox .smartbottom p {
  font-size: 20px;
}
#smartE-bike #smartE-bikebox .smartbottom .bottombox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
  gap: 20px;
}
#smartE-bike #smartE-bikebox .smartbottom .bottombox .bottomboxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
#smartE-bike #smartE-bikebox .smartbottom .bottombox .bottomboxes .boxtext {
  border-left: 2px solid #ff004e;
  padding-left: 5px;
}

@media screen and (max-width: 1330px) {
  .imgdiv2 {
    display: none;
  }
  .imgdiv img {
    width: 40%;
  }
}
.active {
  display: flex !important;
}

#cityRider {
  width: 100%;
}
#cityRider #cityRider-up {
  background-color: #dcd8cd;
  min-height: 90vh;
  max-width: 100%;
  display: flex;
}
#cityRider #cityRider-up .city_up_left {
  background-image: url(https://dt-ezyrider.myshopify.com/cdn/shop/files/AdobeStock_95401987.jpg?v=1668749612);
  min-width: 50%;
  min-height: 90vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: end;
}
#cityRider #cityRider-up .city_up_left .left_box_down {
  min-width: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0px 0px 20px;
}
#cityRider #cityRider-up .city_up_left .left_box_down .hoverBtn {
  background-color: #ff004e;
  min-height: 10vh;
  max-width: 49%;
  color: white;
  font-size: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
#cityRider #cityRider-up .city_up_left .left_box_down .hoverBtn h5 {
  opacity: 0;
  position: absolute;
  margin-top: 70px;
  font-size: 40px;
  transition: 0.3s;
}
#cityRider #cityRider-up .city_up_left .left_box_down .hoverBtn h6 {
  font-size: 40px;
  transition: 0.1s;
}
#cityRider #cityRider-up .city_up_left .left_box_down .hoverBtn:hover {
  background-color: white;
  color: #ff004e;
  transition: 0.4s;
}
#cityRider #cityRider-up .city_up_left .left_box_down .starting {
  background-color: #ff004e;
  min-height: 4vh;
  max-width: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#cityRider #cityRider-up .city_up_left:hover .hoverBtn h6 {
  transform: translateY(-30px);
  transition: 0.1s;
  opacity: 0;
}
#cityRider #cityRider-up .city_up_left:hover .hoverBtn h5 {
  opacity: 1;
  transition: 0.3s;
  transform: translateY(-30px);
}
#cityRider #cityRider-up .city_up_right {
  min-width: 50%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cityRider #cityRider-up .city_up_right .right_box_text {
  min-width: 80%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
#cityRider #cityRider-up .city_up_right .right_box_text .box_in_text {
  min-width: 100%;
  min-height: 12vh;
  padding: 5px 20px;
}
#cityRider #cityRider-up .city_up_right .right_box_text .box_in_text .rider_text_col {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  max-height: 6vh;
  color: black;
}
#cityRider #cityRider-up .city_up_right .right_box_text .box_in_text .rider_box_line {
  background-color: black;
  max-width: 100%;
  min-height: 4px;
}
#cityRider #cityRider-up .city_up_right .right_box_text .box_in_text .line_up_1 {
  background-color: #ff004e;
  width: 10%;
  min-height: 7px;
  margin-top: -5px;
  transition: 2s;
}
#cityRider #cityRider-up .city_up_right .right_box_text .box_in_text .line_up_2 {
  background-color: #ff004e;
  width: 10%;
  min-height: 7px;
  margin-top: -5px;
  transition: 2s;
}
#cityRider #cityRider-up .city_up_right .right_box_text .box_in_text .line_up_3 {
  background-color: #ff004e;
  width: 10%;
  min-height: 7px;
  margin-top: -5px;
  transition: 2s;
}
#cityRider #cityRider-up .city_up_right .right_box_text .box_in_text .line_up_4 {
  background-color: #ff004e;
  width: 10%;
  min-height: 7px;
  margin-top: -5px;
  transition: 2s;
}
#cityRider #cityRider-up .city_up_right:hover .right_box_text .box_in_text .line_up_1 {
  width: 70%;
  transition: 2s;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
#cityRider #cityRider-up .city_up_right:hover .right_box_text .box_in_text .line_up_2 {
  width: 85%;
  transition: 2s;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
#cityRider #cityRider-up .city_up_right:hover .right_box_text .box_in_text .line_up_3 {
  width: 90%;
  transition: 2s;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
#cityRider #cityRider-up .city_up_right:hover .right_box_text .box_in_text .line_up_4 {
  width: 65%;
  transition: 2s;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
#cityRider #cityRider-down {
  background-color: #dcd8cd;
  min-height: 90vh;
  max-width: 100%;
  display: flex;
}
#cityRider #cityRider-down .city_down_left {
  min-width: 50%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cityRider #cityRider-down .city_down_left .left_box_text {
  min-width: 86%;
  min-height: 48vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#cityRider #cityRider-down .city_down_left .left_box_text h1 {
  font-size: 55px;
}
#cityRider #cityRider-down .city_down_left .left_box_text span {
  font-size: 26px;
}
#cityRider #cityRider-down .city_down_left .left_box_text p {
  max-width: 400px;
}
#cityRider #cityRider-down .city_down_left .left_box_text .pink-button {
  text-align: center;
  max-width: 130px;
  max-height: 40px;
}
#cityRider #cityRider-down .city_down_right {
  background-image: url(https://dt-ezyrider.myshopify.com/cdn/shop/files/AdobeStock_287721050.jpg?v=1668754912);
  min-width: 50%;
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#cityRider #cityRider-down .city_down_right .left_box_down {
  min-width: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0px 0px 20px;
}
#cityRider #cityRider-down .city_down_right .left_box_down .hoverBtn {
  background-color: #ff004e;
  min-height: 10vh;
  max-width: 49%;
  color: white;
  font-size: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
#cityRider #cityRider-down .city_down_right .left_box_down .hoverBtn h5 {
  opacity: 0;
  position: absolute;
  margin-top: 70px;
  font-size: 40px;
  transition: 0.3s;
}
#cityRider #cityRider-down .city_down_right .left_box_down .hoverBtn h6 {
  font-size: 40px;
  transition: 0.1s;
}
#cityRider #cityRider-down .city_down_right .left_box_down .hoverBtn:hover {
  background-color: white;
  color: #ff004e;
  transition: 0.4s;
}
#cityRider #cityRider-down .city_down_right .left_box_down .starting {
  background-color: #ff004e;
  min-height: 4vh;
  max-width: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#cityRider #cityRider-down .city_down_right:hover .hoverBtn h6 {
  transform: translateY(-30px);
  transition: 0.1s;
  opacity: 0;
}
#cityRider #cityRider-down .city_down_right:hover .hoverBtn h5 {
  opacity: 1;
  transition: 0.3s;
  transform: translateY(-30px);
}

@media screen and (max-width: 917px) {
  #eRiders #eRider_up .background-text {
    text-align: center;
    width: 100%;
    opacity: 0.1;
    color: gray;
    font-size: 150px;
  }
  #eRiders #eRider_up p {
    display: none;
  }
  #eRiders #eRider_up #wrapper {
    max-width: 49%;
  }
  #eRiders #eRider_down #wrapper {
    max-width: 49%;
  }
}
@media screen and (max-width: 917px) {
  #cityRider #cityRider-up {
    flex-direction: column;
  }
  #cityRider #cityRider-down {
    flex-direction: column;
  }
}
#eRiders {
  width: 100%;
}
#eRiders #eRider_up {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  position: relative;
  background-color: #dcd8cd;
}
#eRiders #eRider_up .background-text {
  text-align: center;
  width: 100%;
  opacity: 0.1;
  color: gray;
  font-size: 150px;
}
#eRiders #eRider_up h1 {
  text-align: center;
  position: absolute;
  top: 100px;
  font-size: 50px;
  z-index: 1;
}
#eRiders #eRider_up #wrapper {
  width: 88%;
  margin: auto;
}
#eRiders #eRider_up #wrapper #prev,
#eRiders #eRider_up #wrapper #next {
  display: flex;
  justify-content: center;
  align-content: center;
  border: none;
  padding: 8px;
  cursor: pointer;
  position: absolute;
}
#eRiders #eRider_up #wrapper #prev {
  top: 60%;
  left: 30px;
  font-size: 40px;
  background-color: transparent;
  color: gray;
  border: none;
}
#eRiders #eRider_up #wrapper #prev:focus {
  outline: 0;
}
#eRiders #eRider_up #wrapper #next {
  top: 60%;
  right: 30px;
  font-size: 40px;
  background-color: transparent;
  color: gray;
}
#eRiders #eRider_up #wrapper #next:focus {
  outline: 0;
}
#eRiders #eRider_up #wrapper #carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
#eRiders #eRider_up #wrapper #carousel #content {
  display: grid;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}
#eRiders #eRider_up #wrapper #carousel #content .eRider_img_1 {
  overflow: hidden;
  width: 450px;
  height: 450px;
  transition: 0.4s;
  position: relative;
}
#eRiders #eRider_up #wrapper #carousel #content .eRider_img_1 .erider_hover {
  background-color: rgba(255, 0, 76, 0.6);
  width: 450px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#eRiders #eRider_up #wrapper #carousel #content .eRider_img_1 .erider_hover h3 {
  font-size: 40px;
  color: white;
}
#eRiders #eRider_up #wrapper #carousel #content .eRider_img_1 .erider_hover .eRider_hover_btn {
  height: 40px;
  width: 180px;
  background-color: black;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
#eRiders #eRider_up #wrapper #carousel #content .eRider_img_1 .erider_hover .eRider_hover_btn:hover {
  background-color: white;
  color: black;
}
#eRiders #eRider_up #wrapper #carousel #content .eRider_img_1:hover .erider_hover {
  visibility: visible;
  transition: 0.4s;
  z-index: 2;
}
#eRiders #eRider_up #wrapper #carousel #content .eRider_img_1:hover .item {
  transition: 0.4s;
  transform: scale(1.1);
}
#eRiders #eRider_up #wrapper #carousel #content .item {
  width: 450px;
  height: 450px;
  transition: 0.4s;
}
#eRiders #eRider_up #wrapper #carousel::-webkit-scrollbar {
  height: 0;
}
#eRiders #eRider_down {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: #dcd8cd;
}
#eRiders #eRider_down #wrapper {
  width: 88%;
  margin: auto;
}
#eRiders #eRider_down #wrapper #prev,
#eRiders #eRider_down #wrapper #next {
  display: flex;
  justify-content: center;
  align-content: center;
  border: none;
  padding: 8px;
  cursor: pointer;
  position: absolute;
}
#eRiders #eRider_down #wrapper #prev {
  top: 50%;
  left: 30px;
  font-size: 40px;
  background-color: transparent;
  color: gray;
  border: none;
}
#eRiders #eRider_down #wrapper #prev:focus {
  outline: 0;
}
#eRiders #eRider_down #wrapper #next {
  top: 50%;
  right: 30px;
  font-size: 40px;
  background-color: transparent;
  color: gray;
}
#eRiders #eRider_down #wrapper #next:focus {
  outline: 0;
}
#eRiders #eRider_down #wrapper #carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
#eRiders #eRider_down #wrapper #carousel #content {
  display: grid;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}
#eRiders #eRider_down #wrapper #carousel #content .eRider_img_1 {
  overflow: hidden;
  width: 450px;
  height: 450px;
  transition: 0.4s;
  position: relative;
}
#eRiders #eRider_down #wrapper #carousel #content .eRider_img_1 .erider_hover {
  background-color: rgba(255, 0, 76, 0.6);
  width: 450px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#eRiders #eRider_down #wrapper #carousel #content .eRider_img_1 .erider_hover h3 {
  font-size: 40px;
  color: white;
}
#eRiders #eRider_down #wrapper #carousel #content .eRider_img_1 .erider_hover .eRider_hover_btn {
  height: 40px;
  width: 180px;
  background-color: black;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
#eRiders #eRider_down #wrapper #carousel #content .eRider_img_1 .erider_hover .eRider_hover_btn:hover {
  background-color: white;
  color: black;
}
#eRiders #eRider_down #wrapper #carousel #content .eRider_img_1:hover .erider_hover {
  visibility: visible;
  transition: 0.4s;
  z-index: 2;
}
#eRiders #eRider_down #wrapper #carousel #content .eRider_img_1:hover .item {
  transition: 0.4s;
  transform: scale(1.1);
}
#eRiders #eRider_down #wrapper #carousel #content .item {
  width: 450px;
  height: 450px;
  transition: 0.4s;
}
#eRiders #eRider_down #wrapper #carousel::-webkit-scrollbar {
  height: 0;
}

#accessories {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebe7e2;
}
#accessories .name {
  padding-bottom: 50px;
  width: 400px;
  text-align: center;
}
#accessories .name h1 {
  font-weight: bold;
}
#accessories swiper-container {
  width: 80%;
  margin: auto;
  height: 500px;
  cursor: grab;
}
#accessories swiper-container swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ebe7e2;
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#accessories swiper-container swiper-slide .card {
  background-color: #E5E1D8;
}
#accessories swiper-container swiper-slide .card .image {
  height: 60%;
  overflow: hidden;
}
#accessories swiper-container swiper-slide .card .image img {
  width: 100%;
  background-color: #E5E1D8;
  transition: 0.5s;
}
#accessories swiper-container swiper-slide .card:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}
#accessories swiper-container swiper-slide .card .card-body {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}

#hr-carousel {
  padding: 100px 0;
  background-color: #DAD3C6;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2500px);
  }
}
#hr-carousel .slider {
  background-color: #ff004e;
  box-shadow: 0 10px 20px -5px rgb(0, 0, 0);
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#hr-carousel .slider::before, #hr-carousel .slider::after {
  background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 250px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
#hr-carousel .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
#hr-carousel .slider::before {
  left: 0;
  top: 0;
}
#hr-carousel .slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  position: absolute;
  top: 70px;
  width: 100%;
}
#hr-carousel .slider .slide-track:hover {
  animation-play-state: paused;
}
#hr-carousel .slider .slide {
  height: 200px;
  width: 400px;
  margin: 0 100px;
  opacity: 0.5;
}

#eBriss {
  background-color: #ebe7e2;
  min-width: 100%;
  min-height: 99vh;
}
#eBriss .eBriss_div_up {
  min-width: 100%;
  min-height: 33vh;
  display: flex;
}
#eBriss .eBriss_div_up .up-div_left_box {
  min-width: 50%;
  min-height: 33vh;
  display: flex;
}
#eBriss .eBriss_div_up .up-div_left_box .imgAndHover {
  width: 33.33%;
  position: relative;
}
#eBriss .eBriss_div_up .up-div_left_box .imgAndHover img {
  width: 100%;
  height: 33vh;
}
#eBriss .eBriss_div_up .up-div_left_box .imgAndHover .eBriss_img_hover_box {
  position: absolute;
  width: 101%;
  height: 33vh;
  background-color: rgba(255, 0, 76, 0.8156862745);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: 0.3s;
  transform: rotateX(90deg);
}
#eBriss .eBriss_div_up .up-div_left_box .imgAndHover .eBriss_img_hover_box i {
  font-size: 40px;
  color: white;
  visibility: hidden;
}
#eBriss .eBriss_div_up .up-div_left_box .imgAndHover .eBriss_img_hover_box a {
  font-size: 40px;
  color: white;
  text-decoration: none;
  visibility: hidden;
}
#eBriss .eBriss_div_up .up-div_left_box .imgAndHover:hover .eBriss_img_hover_box {
  visibility: visible;
  transition: 0.5s;
  transform: rotateX(0deg);
}
#eBriss .eBriss_div_up .up-div_left_box .imgAndHover:hover .eBriss_img_hover_box i {
  font-size: 40px;
  color: white;
  visibility: visible;
}
#eBriss .eBriss_div_up .up-div_left_box .imgAndHover:hover .eBriss_img_hover_box a {
  font-size: 40px;
  color: white;
  text-decoration: none;
  visibility: visible;
}
#eBriss .eBriss_div_up .up-div_right_box {
  background-color: rgb(255, 0, 43);
  min-width: 50%;
  min-height: 33vh;
  display: flex;
}
#eBriss .eBriss_div_up .up-div_right_box .imgAndHover {
  width: 33.33%;
  position: relative;
}
#eBriss .eBriss_div_up .up-div_right_box .imgAndHover img {
  width: 100%;
  height: 33vh;
}
#eBriss .eBriss_div_up .up-div_right_box .imgAndHover .eBriss_img_hover_box {
  position: absolute;
  width: 101%;
  height: 33vh;
  background-color: rgba(255, 0, 76, 0.8156862745);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: 0.3s;
  transform: rotateX(90deg);
}
#eBriss .eBriss_div_up .up-div_right_box .imgAndHover .eBriss_img_hover_box i {
  font-size: 40px;
  color: white;
  visibility: hidden;
}
#eBriss .eBriss_div_up .up-div_right_box .imgAndHover .eBriss_img_hover_box a {
  font-size: 40px;
  color: white;
  text-decoration: none;
  visibility: hidden;
}
#eBriss .eBriss_div_up .up-div_right_box .imgAndHover:hover .eBriss_img_hover_box {
  visibility: visible;
  transition: 0.5s;
  transform: rotateX(0deg);
}
#eBriss .eBriss_div_up .up-div_right_box .imgAndHover:hover .eBriss_img_hover_box i {
  font-size: 40px;
  color: white;
  visibility: visible;
}
#eBriss .eBriss_div_up .up-div_right_box .imgAndHover:hover .eBriss_img_hover_box a {
  font-size: 40px;
  color: white;
  text-decoration: none;
  visibility: visible;
}
#eBriss .eBriss_div_up .up-div_right_box .imgAndHoverBİg {
  width: 66.66%;
  position: relative;
}
#eBriss .eBriss_div_up .up-div_right_box .imgAndHoverBİg img {
  width: 100%;
  height: 33vh;
}
#eBriss .eBriss_div_up .up-div_right_box .imgAndHoverBİg .eBriss_img_hover_box {
  position: absolute;
  width: 101%;
  height: 33vh;
  background-color: rgba(255, 0, 76, 0.8156862745);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: 0.3s;
}
#eBriss .eBriss_div_up .up-div_right_box .imgAndHoverBİg .eBriss_img_hover_box i {
  font-size: 40px;
  color: white;
}
#eBriss .eBriss_div_up .up-div_right_box .imgAndHoverBİg .eBriss_img_hover_box a {
  font-size: 40px;
  color: white;
  text-decoration: none;
}
#eBriss .eBriss_div_middle {
  min-width: 100%;
  min-height: 33vh;
  display: flex;
}
#eBriss .eBriss_div_middle .up-div_left_box {
  min-width: 50%;
  min-height: 33vh;
  display: flex;
}
#eBriss .eBriss_div_middle .up-div_left_box .imgAndHover {
  width: 33.33%;
  position: relative;
}
#eBriss .eBriss_div_middle .up-div_left_box .imgAndHover img {
  width: 100%;
  height: 33vh;
}
#eBriss .eBriss_div_middle .up-div_left_box .imgAndHover .eBriss_img_hover_box {
  position: absolute;
  width: 101%;
  height: 33vh;
  background-color: rgba(255, 0, 76, 0.8156862745);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: 0.3s;
  transform: rotateX(90deg);
}
#eBriss .eBriss_div_middle .up-div_left_box .imgAndHover .eBriss_img_hover_box i {
  font-size: 40px;
  color: white;
  visibility: hidden;
}
#eBriss .eBriss_div_middle .up-div_left_box .imgAndHover .eBriss_img_hover_box a {
  font-size: 40px;
  color: white;
  text-decoration: none;
  visibility: hidden;
}
#eBriss .eBriss_div_middle .up-div_left_box .imgAndHover:hover .eBriss_img_hover_box {
  visibility: visible;
  transition: 0.5s;
  transform: rotateX(0deg);
}
#eBriss .eBriss_div_middle .up-div_left_box .imgAndHover:hover .eBriss_img_hover_box i {
  font-size: 40px;
  color: white;
  visibility: visible;
}
#eBriss .eBriss_div_middle .up-div_left_box .imgAndHover:hover .eBriss_img_hover_box a {
  font-size: 40px;
  color: white;
  text-decoration: none;
  visibility: visible;
}
#eBriss .eBriss_div_middle .up-div_right_box {
  background-color: rgb(255, 0, 43);
  min-width: 50%;
  min-height: 33vh;
  display: flex;
}
#eBriss .eBriss_div_middle .up-div_right_box .imgAndHover {
  width: 33.33%;
  position: relative;
}
#eBriss .eBriss_div_middle .up-div_right_box .imgAndHover img {
  width: 100%;
  height: 33vh;
}
#eBriss .eBriss_div_middle .up-div_right_box .imgAndHover .eBriss_img_hover_box {
  position: absolute;
  width: 101%;
  height: 33vh;
  background-color: rgba(255, 0, 76, 0.8156862745);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: 0.3s;
  transform: rotateX(90deg);
}
#eBriss .eBriss_div_middle .up-div_right_box .imgAndHover .eBriss_img_hover_box i {
  font-size: 40px;
  color: white;
  visibility: hidden;
}
#eBriss .eBriss_div_middle .up-div_right_box .imgAndHover .eBriss_img_hover_box a {
  font-size: 40px;
  color: white;
  text-decoration: none;
  visibility: hidden;
}
#eBriss .eBriss_div_middle .up-div_right_box .imgAndHover:hover .eBriss_img_hover_box {
  visibility: visible;
  transition: 0.5s;
  transform: rotateX(0deg);
}
#eBriss .eBriss_div_middle .up-div_right_box .imgAndHover:hover .eBriss_img_hover_box i {
  font-size: 40px;
  color: white;
  visibility: visible;
}
#eBriss .eBriss_div_middle .up-div_right_box .imgAndHover:hover .eBriss_img_hover_box a {
  font-size: 40px;
  color: white;
  text-decoration: none;
  visibility: visible;
}
#eBriss .eBriss_div_down {
  min-width: 100%;
  min-height: 33vh;
  display: flex;
}
#eBriss .eBriss_div_down .down_div_left {
  min-width: 70%;
  min-height: 33vh;
  display: flex;
}
#eBriss .eBriss_div_down .down_div_left .velo_animation {
  min-width: 35%;
  min-height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#eBriss .eBriss_div_down .down_div_left .velo_animation img {
  max-width: 300px;
}
#eBriss .eBriss_div_down .down_div_left .down_div_left_text_box {
  min-width: 65%;
  min-height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 0px 50px;
}
#eBriss .eBriss_div_down .down_div_left .down_div_left_text_box p {
  font-size: 30px;
}
#eBriss .eBriss_div_down .down_div_left .down_div_left_text_box .velo_text_btn {
  border-bottom: 2px solid gray;
  max-width: 70px;
  min-height: 34px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
#eBriss .eBriss_div_down .down_div_right {
  min-width: 30%;
  min-height: 33vh;
}
#eBriss .eBriss_div_down .down_div_right img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1320px) {
  #eBriss .eBriss_div_up {
    flex-direction: column;
  }
  #eBriss .eBriss_div_middle {
    flex-direction: column;
  }
}
@media screen and (max-width: 975px) {
  #eBriss .eBriss_div_up .up-div_left_box {
    flex-direction: column;
  }
  #eBriss .eBriss_div_up .up-div_left_box .imgAndHover img {
    width: 300%;
    height: 300%;
  }
  #eBriss .eBriss_div_up .up-div_left_box .imgAndHover .eBriss_img_hover_box {
    width: 300%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #eBriss .eBriss_div_up .up-div_right_box {
    flex-direction: column;
  }
  #eBriss .eBriss_div_up .up-div_right_box .imgAndHover img {
    width: 300%;
    height: 300%;
  }
  #eBriss .eBriss_div_up .up-div_right_box .imgAndHover .eBriss_img_hover_box {
    width: 300%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #eBriss .eBriss_div_up .up-div_right_box .imgAndHoverBİg {
    width: 100%;
  }
  #eBriss .eBriss_div_up .up-div_right_box .imgAndHoverBİg img {
    width: 100%;
    height: 66vh;
  }
  #eBriss .eBriss_div_up .up-div_right_box .imgAndHoverBİg .eBriss_img_hover_box {
    width: 101%;
    height: 66vh;
  }
  #eBriss .eBriss_div_middle {
    flex-direction: column;
  }
  #eBriss .eBriss_div_middle .up-div_left_box {
    flex-direction: column;
  }
  #eBriss .eBriss_div_middle .up-div_left_box .imgAndHover img {
    width: 300%;
    height: 300%;
  }
  #eBriss .eBriss_div_middle .up-div_left_box .imgAndHover .eBriss_img_hover_box {
    width: 300%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #eBriss .eBriss_div_middle .up-div_right_box {
    flex-direction: column;
  }
  #eBriss .eBriss_div_middle .up-div_right_box .imgAndHover img {
    width: 300%;
    height: 300%;
  }
  #eBriss .eBriss_div_middle .up-div_right_box .imgAndHover .eBriss_img_hover_box {
    width: 300%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #eBriss .eBriss_div_down .down_div_right {
    display: none;
  }
}
#updates {
  background-color: #dcd8cd;
  max-width: 100%;
  min-height: 100vh;
}
#updates .updates_text {
  background-color: #dcd8cd;
  max-width: 100%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#updates .updates_text p {
  font-size: 40px;
  max-width: 550px;
  text-align: center;
  color: black;
  z-index: 1;
}
#updates .updates_text h1 {
  z-index: 0;
  position: absolute;
  font-size: 170px;
  color: #DAD3C6;
  opacity: 0.9;
}
#updates .news_cards_box {
  max-width: 100%;
  max-height: 80vh;
  display: grid;
  grid-template-columns: auto auto auto;
}
#updates .news_cards_box .news_card {
  padding: 30px 20px;
  margin-top: 30px;
  min-width: 32%;
  min-height: 80vh;
}
#updates .news_cards_box .news_card .cards_img {
  min-height: 35vh;
  overflow: hidden;
}
#updates .news_cards_box .news_card .cards_img img {
  width: 100%;
  height: 35vh;
  transition: 0.5s;
}
#updates .news_cards_box .news_card .cards_text {
  color: black;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#updates .news_cards_box .news_card .cards_text .text_upper {
  margin-top: 10px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  color: black;
}
#updates .news_cards_box .news_card .cards_text h5 {
  margin-top: 10px;
}
#updates .news_cards_box .news_card .cards_text h5:hover {
  color: #ff004e;
  cursor: pointer;
}
#updates .news_cards_box .news_card .cards_text span {
  max-width: 400px;
}
#updates .news_cards_box .news_card .cards_text a {
  text-decoration: none;
  color: black;
  width: 100px;
}
#updates .news_cards_box .news_card .cards_text a .card_btn {
  height: 2px;
  width: 100px;
  margin-top: 5px;
  background-color: black;
  transition: 1s;
}
#updates .news_cards_box .news_card .cards_text a:hover .card_btn {
  width: 40px;
  transition: 1s;
}
#updates .news_cards_box .news_card:hover .cards_img {
  overflow: hidden;
}
#updates .news_cards_box .news_card:hover .cards_img img {
  transform: scale(1.1);
  transition: 0.5s;
}

@media screen and (max-width: 1389px) {
  #updates {
    background-color: #dcd8cd;
    max-width: 100%;
    min-height: 200vh;
  }
  #updates .updates_text h1 {
    display: none;
  }
  #updates .news_cards_box {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 607px) {
  #updates {
    min-height: 300vh;
  }
  #updates .news_cards_box {
    grid-template-columns: auto;
  }
}
#login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebe7e2;
}
#login .loginbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: 50%;
}
#login .loginbox h1 {
  text-align: center;
  font-size: 60px;
}
#login .loginbox input {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 15%;
  font-size: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
}
#login .loginbox a {
  text-align: center;
  color: black;
  text-decoration: underline;
  font-size: 25px;
}
#login .loginbox button {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 50px;
  cursor: pointer;
  color: white;
  background-color: #ff004e;
  border: none;
  font-size: 20px;
  transition: 0.4s;
}
#login .loginbox button:hover {
  background-color: black;
  transition: 0.4s;
}
#login .loginbox .createaccount {
  color: black;
  font-size: 20px;
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .loginbox h1 {
    font-size: 40px !important;
  }
  .loginbox input {
    width: 80% !important;
    height: 10% !important;
    font-size: 20px !important;
  }
  .loginbox a {
    font-size: 15px !important;
  }
  .loginbox button {
    width: 100px !important;
    height: 20px !important;
    font-size: 10px !important;
  }
  .loginbox .createaccount {
    font-size: 10px !important;
  }
}
#search {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 7;
}
#search .searchbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}
#search .searchbox .searchbar {
  position: relative;
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search .searchbox .fa-circle-xmark {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 50px;
}
#search .searchbox h1 {
  font-size: 50px;
  color: white;
}
#search .searchbox input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 3px solid #ff004e;
  width: 100%;
  height: 100%;
  font-size: 50px;
  color: white;
  text-align: center;
}
#search .searchbox .fa-magnifying-glass {
  position: absolute;
  right: 0;
  color: white;
  font-size: 50px;
}/*# sourceMappingURL=main.css.map */