* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.pink-button {
  padding: 5px 15px;
  background-color: #ff004e;
  color: white;
  border-color: #ff004e;
  transition: 0.5s;
}
.pink-button:hover {
  background-color: black;
  color: white;
  border-color: black;
  transition: 0.5s;
}

.white-button {
  padding: 5px 15px;
  box-sizing: border-box;
  transition: 0.5s;
}
.white-button:hover {
  background-color: black;
  color: white;
  border-color: black;
  transition: 0.5s;
}

.black-button {
  padding: 5px 15px;
  background-color: black;
  color: white;
  transition: 0.5s;
}
.black-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-color: rgb(255, 252, 252);
  transition: 0.5s;
}

header .navbar_rider {
  background: rgba(128, 128, 128, 0.276);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  z-index: 2;
  position: fixed;
}
header .navbar_rider .logoAndBar {
  display: flex;
  min-width: 54%;
  max-height: 100%;
  justify-content: space-between;
  align-items: center;
}
header .navbar_rider .logoAndBar #navbar_bar_close_icon {
  font-size: 40px;
  margin-left: 20px;
  color: gray;
  cursor: pointer;
  transition: 0.2s;
  display: none;
}
header .navbar_rider .logoAndBar #navbar_bar_close_icon:hover {
  color: #ff004e;
  transition: 0.2s;
}
header .navbar_rider .logoAndBar #navbar_bar_icon {
  font-size: 40px;
  margin-left: 20px;
  color: gray;
  cursor: pointer;
  transition: 0.2s;
}
header .navbar_rider .logoAndBar #navbar_bar_icon:hover {
  color: #ff004e;
  transition: 0.2s;
}
header .navbar_rider .logoAndBar .logo img {
  max-width: 94px;
}
header .navbar_rider .searchAndBAsket {
  min-width: 45%;
  display: flex;
  justify-content: end;
  gap: 30px;
}
header .navbar_rider .searchAndBAsket .search_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-height: 60%;
  padding: 0px 10px 0px 30px;
  margin-top: 10px;
  border-bottom: 2px solid gray;
}
header .navbar_rider .searchAndBAsket .search_box .navbar_search {
  border: none;
  background-color: transparent;
}
header .navbar_rider .searchAndBAsket .search_box a {
  color: gray;
}
header .navbar_rider .searchAndBAsket .search_box a:hover {
  color: #ff004e;
  text-decoration: none;
}
header .navbar_rider .searchAndBAsket .search_box .navbar_search:focus {
  outline: none;
}
header .navbar_rider .navbar_basket {
  margin-right: 30px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
header .navbar_rider .navbar_basket i {
  color: #ff004e;
  font-size: 25px;
}
header .navbar_rider .navbar_basket .basket_number {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  color: #ff004e;
  position: absolute;
  bottom: 10px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  margin-top: -2.5px;
  width: 150px;
  height: 3.5px;
  background: linear-gradient(0.25turn, rgba(128, 128, 128, 0.276), #ff004e);
  position: relative;
  animation: lineH 20s linear infinite;
  border-radius: 92% 4% 4% 93%/55% 41% 48% 45%;
  position: fixed;
  top: 80px;
  z-index: 2;
}

@keyframes lineH {
  0% {
    left: 0%;
  }
  100% {
    left: 90%;
  }
}
@media screen and (max-width: 917px) {
  header .navbar_rider .searchAndBAsket {
    min-width: 0%;
    display: flex;
    justify-content: end;
    gap: 10px;
  }
  header .navbar_rider .searchAndBAsket .search_box {
    padding: 0px;
    max-width: 30%;
  }
  header .navbar_rider .searchAndBAsket .search_box .navbar_search {
    display: none;
  }
  header .navbar_rider .navbar_basket .basket_number {
    bottom: 0px;
  }
  header .line {
    display: none;
  }
}
.click_bar {
  background-color: rgba(128, 128, 128, 0.207);
  width: 25%;
  margin-top: -2px;
  height: 89.2vh;
  opacity: 0;
  padding: 45px 40px 0px 40px;
  z-index: 2;
  position: fixed;
  bottom: 0px;
}
.click_bar .click_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.click_bar .click_box .navbar_up {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 3;
}
.click_bar .click_box .navbar_up #homePage {
  color: #ff004e;
}
.click_bar .click_box .navbar_up li {
  cursor: pointer;
}
.click_bar .click_box .navbar_up li a {
  color: gray;
}
.click_bar .click_box .navbar_up li:hover {
  padding: 0px 10px;
  background-color: rgba(128, 128, 128, 0.207);
}
.click_bar .click_box .navbar_up li:hover a {
  color: #ff004e;
  text-decoration: none;
}
.click_bar .click_box .nabar_down {
  width: 60%;
}
.click_bar .click_box .nabar_down .navbar_login {
  font-size: 20px;
}
.click_bar .click_box .nabar_down .navbar_login a {
  color: gray;
  text-decoration: none;
}
.click_bar .click_box .nabar_down .navbar_social_media {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 20px 0px;
  cursor: pointer;
  flex-wrap: wrap;
}
.click_bar .click_box .nabar_down .navbar_social_media div {
  height: 40px;
  width: 40px;
  border: 2px solid gray;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.click_bar .click_box .nabar_down .navbar_social_media div i {
  color: gray;
}
.click_bar .click_box .nabar_down .navbar_social_media div:hover {
  border: 2px solid #ff004e;
}
.click_bar .click_box .nabar_down .navbar_social_media div:hover i {
  color: #ff004e;
}

@media screen and (max-width: 917px) {
  .click_bar {
    width: 70%;
    height: 87.7vh;
  }
  .click_bar .click_box .nabar_down .navbar_social_media {
    font-size: 15px;
    gap: 2px;
    max-width: 60%;
  }
  .click_bar .click_box .nabar_down .navbar_social_media div {
    height: 30px;
    width: 30px;
  }
}
.page_blur {
  height: 89vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.06);
  display: none;
  z-index: -1;
  position: absolute;
  top: 80px;
}

#home {
  width: 100%;
  height: 100vh;
}
#home .carousel-item .first {
  background-image: url("https://dt-ezyrider.myshopify.com/cdn/shop/files/Component_1_1.jpg?v=1670846020");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#home .carousel {
  font-family: var(--font-heading-family);
}
#home .carousel .carousel-inner .bg-img-1 {
  background-image: url("https://dt-ezyrider.myshopify.com/cdn/shop/files/Component_1_1.jpg?v=1670846020");
}
#home .carousel .carousel-inner .bg-img-2 {
  background-image: url("https://dt-ezyrider.myshopify.com/cdn/shop/files/slide-2.jpg?v=1677565134");
}
#home .carousel .carousel-inner .bg-img-3 {
  background-image: url("https://dt-ezyrider.myshopify.com/cdn/shop/files/slide-3.jpg?v=1677565134");
}
#home .carousel .carousel-inner .carousel-image {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#home .carousel .carousel-inner .container {
  width: 100%;
  height: 100vh;
  padding: 20px;
}
#home .carousel .carousel-inner .container:hover .home-texts {
  backdrop-filter: blur(0px);
  transition: 0.4s;
}
#home .carousel .carousel-inner .container .home-texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  margin: auto;
  backdrop-filter: blur(10px);
  transition: 0.4s;
}
#home .carousel .carousel-inner .container .home-texts .partner {
  width: 60%;
  backdrop-filter: blur(10px);
}
#home .carousel .carousel-inner .container .home-texts .partner:hover {
  backdrop-filter: blur(0px);
  transition: 0.4s;
}
#home .carousel .carousel-inner .container .home-texts .partner :first-child {
  font-size: 15px;
  color: #ff004e;
  font-family: var(--font-body-family);
}
#home .carousel .carousel-inner .container .home-texts .partner h1 {
  font-family: "Alice", serif;
  font-weight: bold;
  margin: 30px 0;
}
#home .carousel .carousel-inner .container .home-texts .partner :nth-child(3) {
  width: 60%;
  font-family: "Gruppo", sans-serif;
}
#home .carousel .carousel-inner .container .home-texts .number {
  width: 10%;
  height: 50px;
  position: relative;
  transform: rotate(90deg);
  margin-left: 40px;
}
#home .carousel .carousel-inner .container .home-texts .number .number-of-image {
  display: flex;
  justify-content: space-between;
}
#home .carousel .carousel-inner .container .home-texts .number hr {
  bottom: -4px;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: rgb(57, 57, 57);
}
#home .carousel .carousel-inner .container .properties {
  width: 100%;
  height: 20%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#home .carousel .carousel-inner .container .properties .letters {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home .carousel .carousel-inner .container .properties .letters span,
#home .carousel .carousel-inner .container .properties .letters i {
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 5px;
  transition: 0.5s;
  border-radius: 5px;
  cursor: pointer;
}
#home .carousel .carousel-inner .container .properties .letters span:hover,
#home .carousel .carousel-inner .container .properties .letters i:hover {
  background-color: rgb(192, 191, 191);
  transition: 0.5s;
}
#home .carousel .carousel-inner .container .properties .name-of-bike {
  background-color: #ff004e;
  width: 300px;
  padding: 30px;
  color: white;
  box-shadow: -5px -4px 65px 29px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: -5px -4px 65px 29px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: -5px -4px 65px 29px rgba(0, 0, 0, 0.37);
}

@media screen and (max-width: 678px) {
  #home .carousel .carousel-inner .carousel-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
  }
  #home .carousel .carousel-inner .carousel-item .container {
    display: flex;
    align-items: flex-end;
  }
  #home .carousel .carousel-inner .carousel-item .container .home-texts {
    height: 50%;
    width: 100%;
    backdrop-filter: blur(0px);
  }
  #home .carousel .carousel-inner .carousel-item .container .home-texts .partner {
    width: 100%;
  }
  #home .carousel .carousel-inner .carousel-item .container .home-texts .partner :nth-child(3) {
    display: none;
  }
  #home .carousel .carousel-inner .carousel-item .container .home-texts .number {
    display: none;
  }
  #home .carousel .carousel-inner .carousel-item .container .properties {
    display: none;
  }
}
@media screen and (min-width: 679px) and (max-width: 992px) {
  #home .carousel .carousel-inner .carousel-item .container .home-texts .number {
    display: none;
  }
  #home .carousel .carousel-inner .carousel-item .container .properties {
    display: none;
  }
}
#banner-media {
  background-image: url(https://dt-ezyrider.myshopify.com/cdn/shop/files/Component_15_1.jpg?v=1669964764&width=1500);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#banner-media .bannerbox {
  margin-right: 150px;
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#banner-media .bannerbox .newlaunch {
  color: #ff004e;
  font-size: 20px;
  background-color: #dcd8cd;
}
#banner-media .bannerbox h2 {
  font-size: 50px;
  text-align: center;
}
#banner-media .bannerbox p {
  font-size: 16px;
}
#banner-media .bannerbox .bottombuttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
#banner-media .bannerbox .bottombuttons #button1 {
  width: 200px;
  height: 40px;
  border: 1px solid black;
  transition: 0.4s;
}
#banner-media .bannerbox .bottombuttons #button1:hover {
  background-color: black;
  color: white;
  transition: 0.4s;
}
#banner-media .bannerbox .bottombuttons #button2 {
  width: 200px;
  height: 40px;
  border: none;
  background-color: #ff004e;
  color: white;
  transition: 0.4s;
}
#banner-media .bannerbox .bottombuttons #button2:hover {
  transition: 0.4s;
  background-color: black;
}

@media screen and (max-width: 991px) {
  .bannerbox {
    margin: auto;
  }
  .bannerbox .bottombuttons {
    font-size: 10px;
  }
  #banner-media {
    padding: 100px !important;
  }
  .cardbox h6 {
    font-size: 20px !important;
  }
  .cardbox p {
    font-size: 10px !important;
  }
  .cardbox a {
    font-size: 10px !important;
  }
  .cardbox span {
    font-size: 5px !important;
  }
  .bannerbox {
    margin-right: 150px;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .bannerbox .newlaunch {
    font-size: 10px;
  }
  .bannerbox h2 {
    font-size: 25px !important;
  }
  .bannerbox p {
    font-size: 8px !important;
  }
}
#smartE-bike {
  width: 100%;
  position: relative;
  min-height: 950px;
  background-color: #ebe7e2;
}
#smartE-bike .imgdiv {
  max-width: 60%;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0.3;
}
#smartE-bike .imgdiv2 {
  max-width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0.3;
  transform: scaleX(-1);
}
#smartE-bike #smartE-bikebox {
  min-height: 800px;
  max-width: 80%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#smartE-bike #smartE-bikebox .smarttop {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}
#smartE-bike #smartE-bikebox .smarttop h2 {
  font-size: 60px;
  text-align: center;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .cardbox {
  margin-left: auto;
  display: flex;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .cardbox h6 {
  font-size: 30px;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .cardbox p {
  font-size: 20px;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .cardbox a {
  font-size: 15px;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .smartcard {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 20px;
  background-color: #dcd8cd;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .smartcard button {
  background-color: #dcd8cd;
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .smartcard button:hover {
  cursor: pointer;
}
#smartE-bike #smartE-bikebox .smarttop .smartcards .swipebuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#smartE-bike #smartE-bikebox .smartbottom h3 {
  font-size: 40px;
}
#smartE-bike #smartE-bikebox .smartbottom p {
  font-size: 20px;
}
#smartE-bike #smartE-bikebox .smartbottom .bottombox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#smartE-bike #smartE-bikebox .smartbottom .bottombox .bottomboxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
#smartE-bike #smartE-bikebox .smartbottom .bottombox .bottomboxes .boxtext {
  border-left: 2px solid #ff004e;
  padding-left: 5px;
}

@media screen and (max-width: 1330px) {
  .imgdiv2 {
    display: none;
  }
  .imgdiv img {
    width: 40%;
  }
}/*# sourceMappingURL=main.css.map */