// style for basket section start by Ahmad


* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#basket {
    height: 100%;
    min-height: 1000px;
    background-color: #EBE7E2;
    padding: 150px 50px;
    font-family: 'Source Code Pro', monospace;

    .head-of-basket {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        h1 {
            font-size: 40px;
        }

        a {
            color: black;
            position: relative;
            font-size: 20px;
            font-weight: bold;

            .bottom-line {
                position: absolute;
                bottom: -5px;
                width: 100%;
                height: 2px;
                background-color: black;
                transition: 0.5s;
            }
            &:hover{
                color: #ff004e;
                transition: 0.5s;
            }
            &:hover .bottom-line {
                width: 30%;
                transition: 0.5s;
                background-color: #ff004e;
            }
        }
    }

    .name-of-properties {
        display: flex;
        padding: 20px 30px;

        .product-text {
            width: 60%;

            h2 {
                color: rgb(48, 47, 47);
            }
        }

        .quant-and-total-text {
            width: 40%;
            display: flex;
            justify-content: space-between;

            h2 {
                color: rgb(48, 47, 47);
            }
        }
    }

    .basketWrapper {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .basketCard { 
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            min-height: 80%;
            width: 100%;

            .product {
                width: 75%;
                display: flex;
                gap: 60px;
                align-items: flex-start;
                justify-content: space-between;

                .image-and-properties {
                    width: 35%;
                    display: flex;
                    justify-content: space-between;

                    .image {
                        width: 45%;

                        img {
                            width: 100%;
                        }
                    }

                    .prod-properties {
                        padding: 40px 0;
                        width: 55%;
                        height: 200px;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        gap: 20px;

                        .type {
                            font-size: 13px;
                        }
                    }

                }

                .countAndRemove {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    width: 20%;

                    .count {
                        height: 50px;
                        width: 130px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        border: 2px solid black;

                        p {
                            cursor: pointer;
                            font-weight: bold;
                            font-size: 20px;
                        }

                    }

                    .fa-trash-can {
                        cursor: pointer;
                        transition: 0.5s;

                        &:hover {
                            transform: scale(1.5);
                            transition: 0.5s;
                        }
                    }
                }
            }

            .total-price {
                height: 200px;
                width: 20%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;

            }
        }
    }


    .order {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 100px 0 0 0;

        .order-area {
            width: 25%;

            .label {
                margin-bottom: 20px;
                color: rgb(70, 70, 70);
                font-weight: bold;
            }

            .text-area {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid rgb(70, 70, 70);
            }
        }

        .subtotal {
            width: 25%;
            display: flex;
            gap: 20px;
            flex-direction: column;
            align-items: flex-end;
            .valueOfAllProducts{
                font-weight: bold;
                font-size: 20px;
            }

            .pink-button {
                width: 100%;
            }
        }
    }

}


@media screen and (max-width: 568px) {
    #basket{
        padding-left: 10px;
        padding-right: 10px;
        .head-of-basket{
            flex-wrap: wrap;
            gap: 40px;
            h1{
                width: 100%;
            }
        }
        .basketWrapper{
            .basketCard{
                .product{
                    
                    .image-and-properties{
                        flex-wrap: wrap;
                        .image{
                            width: 90%;
                        }
                        .prod-properties{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .order{
            flex-wrap: wrap;
            gap: 40px;
            .order-area{
                width: 100%;
            }
            .subtotal{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    #basket{
        .quant-and-total-text{
            width: 20%;
            // justify-content: flex-end;
            .quantity{
                display: none;
            }
            .total{
                display: flex;
                width: 250px;
                justify-content: flex-end;
            }
            
        }
        .basketWrapper{
            .basketCard{
                .product{
                    flex-wrap: wrap;
                    
                    .image-and-properties{
                        width: 100%;
                    }
                    .countAndRemove{
                        justify-content: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}


// style for basket section end by Ahmad
