// style for contact section start by Ahmad


#contact {
    padding-top: 80px;
    width: 100%;
    min-height: 120vh;
    background-color: #ebe7e2;
    display: flex;
    justify-content: center;
    align-items: center;

    .contactdiv {
        width: 90%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .contacthead {
            font-size: 40px;
        }

        .contactbox {
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            height: fit-content;
            .contactcards {
                padding: 25px;
                height: 180px;
                box-shadow: 0 0 8px rgb(0 0 0 / 50%);
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;

                h4 {
                    font-size: 32px;
                }

                p {
                    font-size: 20px;
                }
            }
        }

        .contactarea {
            width: 100%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;

            input {
                background-color: transparent;
                border: none;
                border-bottom: 2px solid black;
                outline: none;
                font-size: 20px;

            }

            .contactfield {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;

                input {
                    width: 45%;
                }
            }

            textarea {
                background-color: transparent;
                border: none;
                border-bottom: 2px solid black;
                outline: none;
                font-size: 20px;

            }

            button {
                width: 120px;
                height: 40px;
                color: white;
                background-color: #ff004e;
                transition: 0.5s;
                border: none;

            }

            button:hover {
                background-color: black;
                transition: 0.5s;
                cursor: pointer;
            }
        }
    }

}

@media screen and (max-width: 900px) {
    #contact {
        .contactdiv {
            .contacthead {
                font-size: 30px !important;
            }

            .contactcards {
                width: 48%;

                h4 {
                    font-size: 25px !important;
                }

                p {
                    font-size: 10px !important;
                }
            }

            .contactarea {
                h2 {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {

    #contact {
        .contactdiv {
            .contacthead {
                font-size: 20px !important;
            }

            .contactcards {
                width: 100%;

                h4 {
                    font-size: 18px !important;
                }

                p {
                    font-size: 8px !important;
                }
            }

            .contactarea {
                display: none !important;
                
                h2 {
                    font-size: 10px !important;
                }

                button {
                    width: 50px;
                    font-size: 10px;
                }
               
            }
        }
    }
}

// style for contact section end by Ahmad
