html {
    scroll-behavior: smooth;

}


.upper_page {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 5;

    a {
        i {
            font-size: 40px;
            color: #ff004e;
        }

        i:hover {
            color: black;

        }
    }

}




// style for home section by ilkin start
#home {
    width: 100%;
    height: 100vh;

    .carousel-item .first {
        background-image: url('https://dt-ezyrider.myshopify.com/cdn/shop/files/Component_1_1.jpg?v=1670846020');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .carousel {
        font-family: var(--font-heading-family);

        .carousel-inner {
            .bg-img-1 {
                background-image: url('https://dt-ezyrider.myshopify.com/cdn/shop/files/Component_1_1.jpg?v=1670846020');

            }

            .bg-img-2 {
                background-image: url('https://dt-ezyrider.myshopify.com/cdn/shop/files/slide-2.jpg?v=1677565134');

            }

            .bg-img-3 {
                background-image: url('https://dt-ezyrider.myshopify.com/cdn/shop/files/slide-3.jpg?v=1677565134');

            }

            .carousel-image {
                height: 100vh;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            .container {
                width: 100%;
                height: 100vh;
                padding: 20px;

                .home-texts {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 80%;
                    margin: auto;
                    transition: 0.4s;

                    &:hover .partner {
                        backdrop-filter: blur(0px);
                        transition: 0.4s;

                    }

                    .partner {
                        width: 60%;
                        padding: 50px 100px 50px 0;
                        backdrop-filter: blur(10px);



                        :first-child {
                            font-size: 15px;
                            color: #ff004e;
                            font-family: var(--font-body-family);
                        }

                        h1 {
                            font-family: 'Alice', serif;
                            font-weight: bold;
                            margin: 30px 0;
                        }

                        :nth-child(3) {
                            width: 60%;
                            font-family: 'Gruppo', sans-serif;
                        }

                    }

                    .number {
                        width: 10%;
                        height: 50px;
                        position: relative;
                        transform: rotate(90deg);
                        margin-left: 40px;

                        .number-of-image {
                            display: flex;
                            justify-content: space-between;
                        }

                        hr {
                            bottom: -4px;
                            position: absolute;
                            height: 1px;
                            width: 100%;
                            background-color: rgb(57, 57, 57);
                        }

                    }
                }

                .properties {
                    width: 100%;
                    height: 20%;
                    margin: auto;
                    display: flex;
                    justify-content: space-between;



                    .letters {
                        width: 200px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span,
                        i {
                            font-size: 20px;
                            color: rgb(0, 0, 0);
                            padding: 5px;
                            transition: 0.5s;
                            border-radius: 5px;
                            cursor: pointer;

                            &:hover {
                                background-color: rgb(192, 191, 191);
                                transition: 0.5s;
                            }
                        }
                    }

                    .name-of-bike {
                        background-color: #ff004e;
                        width: 300px;
                        padding: 30px;
                        color: white;
                        box-shadow: -5px -4px 65px 29px rgba(0, 0, 0, 0.37);
                        -webkit-box-shadow: -5px -4px 65px 29px rgba(0, 0, 0, 0.37);
                        -moz-box-shadow: -5px -4px 65px 29px rgba(0, 0, 0, 0.37);
                    }
                }
            }
        }

    }
}

// style for home section by ilkin end

// responsive for section home by ilkin start
@media screen and (max-width: 678px) {
    #home {
        .carousel {
            .carousel-inner {

                .carousel-image {
                    height: 100%;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-position: top;
                }

                .carousel-item {
                    .container {
                        display: flex;
                        align-items: flex-end;

                        .home-texts {
                            height: 50%;
                            width: 100%;
                            backdrop-filter: blur(0px);

                            .partner {
                                width: 100%;

                                :nth-child(3) {
                                    display: none;
                                }
                            }

                            .number {
                                display: none;
                            }
                        }

                        .properties {
                            display: none;
                        }

                    }
                }
            }
        }

    }
}

@media screen and (min-width: 679px) and (max-width: 992px) {
    #home {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .container {
                        .home-texts {
                            .number {
                                display: none;
                            }
                        }

                        .properties {
                            display: none;
                        }

                    }
                }
            }
        }

    }
}

// responsive for section home by ilkin end




// Ahmad Edited Start

// Banner Media Start
#banner-media {
    background-image: url(https://dt-ezyrider.myshopify.com/cdn/shop/files/Component_15_1.jpg?v=1669964764&width=1500);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;

    .bannerbox {
        margin-right: 150px;
        width: 50%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .newlaunch {
            color: #ff004e;
            font-size: 20px;
            background-color: #dcd8cd;
        }

        h2 {
            font-size: 50px;
            text-align: center;
        }

        p {
            font-size: 16px;
        }

        .bottombuttons {
            width: 80%;
            display: flex;
            justify-content: space-evenly;

            #button1 {
                width: 200px;
                height: 40px;
                transition: 0.4s;
            }

            #button1:hover {
                color: white;
                transition: 0.4s;
                background-color: black;

            }

            #button2 {
                width: 200px;
                height: 40px;
                border: none;
                background-color: #ff004e;
                color: white;
                transition: 0.4s;

            }

            #button2:hover {
                transition: 0.4s;
                background-color: black;
            }
        }

    }
}


// Banner Media End




@media screen and (max-width: 991px) {
    .bannerbox {
        margin: auto !important;

        .bottombuttons {
            font-size: 10px;
        }
    }

    #banner-media {
        padding: 100px !important;
    }

    .cardbox {



        h6 {
            font-size: 20px !important;
        }

        p {
            font-size: 10px !important;
        }

        a {
            font-size: 10px !important;
        }

        span {
            font-size: 5px !important;
        }
    }

    .bannerbox {
        margin-right: 150px;
        width: 50%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .newlaunch {
            font-size: 10px;
        }

        h2 {
            font-size: 25px !important;
        }

        p {
            font-size: 8px !important;
        }
    }


}

// Smart E-BIKE Start
#smartE-bike {
    width: 100%;
    position: relative;
    min-height: 950px;
    background-color: #ebe7e2;

    .imgdiv {
        max-width: 60%;
        position: absolute;
        top: 0;
        z-index: 1;
        opacity: 0.3;
    }

    .imgdiv2 {
        max-width: 60%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        opacity: 0.3;
        transform: scaleX(-1);
    }


    #smartE-bikebox {
        min-height: 800px;
        max-width: 80%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .smarttop {
            width: 100%;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 60px;

            h2 {
                font-size: 60px;
                text-align: center;
            }

            .smartcards {

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px 30px;
                z-index: 2;

                .cardbox {

                    margin-left: auto;
                    display: flex;

                    h6 {
                        font-size: 30px;
                    }

                    p {
                        font-size: 20px;
                    }

                    a {
                        font-size: 15px;
                    }
                }

                .smartcard {

                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    padding-left: 20px;
                    background-color: #dcd8cd;


                    button {
                        background-color: #dcd8cd;
                        border: none;
                        border-bottom: 1px solid black;
                        padding-bottom: 10px;
                        text-align: center;
                        cursor: pointer;
                    }

                    button:hover {
                        cursor: pointer;
                    }
                }

                .swipebuttons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                }
            }
        }


        .smartbottom {
            z-index: 1;
            text-align: center;

            h3 {
                font-size: 40px;
            }

            p {
                font-size: 20px;
            }

            .bottombox {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 80%;
                margin: auto;
                gap: 20px;

                .bottomboxes {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;

                    .boxtext {
                        border-left: 2px solid #ff004e;
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}

// Smart E-BIKE End








@media screen and (max-width: 1330px) {
    .imgdiv2 {
        display: none;
    }

    .imgdiv {
        img {
            width: 40%;

        }
    }

}


.active {
    display: flex !important;
}

// Ahmad Edited End

// section created by Ali start 

// city rider section start 
#cityRider {
    width: 100%;
    #cityRider-up {
        background-color: #dcd8cd;
        min-height: 90vh;
        max-width: 100%;
        display: flex;

        .city_up_left {
            background-image: url(https://dt-ezyrider.myshopify.com/cdn/shop/files/AdobeStock_95401987.jpg?v=1668749612);
            min-width: 50%;
            min-height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: end;

            .left_box_down {
                min-width: 100%;
                min-height: 30vh;
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 40px 0px 0px 20px;

                .hoverBtn {
                    background-color: #ff004e;
                    min-height: 10vh;
                    max-width: 49%;
                    color: white;
                    font-size: 54px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: 0.2s;

                    h5 {
                        opacity: 0;
                        position: absolute;
                        margin-top: 70px;
                        font-size: 40px;
                        transition: 0.3s;

                    }

                    h6 {
                        font-size: 40px;
                        transition: 0.1s;

                    }
                }

                .hoverBtn:hover {
                    background-color: white;
                    color: #ff004e;
                    transition: 0.4s;

                }

                .starting {
                    background-color: #ff004e;
                    min-height: 4vh;
                    max-width: 27%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                }

            }
        }

        .city_up_left:hover {
            .hoverBtn {
                h6 {
                    transform: translateY(-30px);
                    transition: 0.1s;
                    opacity: 0;
                }

                h5 {
                    opacity: 1;
                    transition: 0.3s;
                    transform: translateY(-30px);

                }

            }

        }

        .city_up_right {
            min-width: 50%;
            min-height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .right_box_text {
                min-width: 80%;
                min-height: 80vh;
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                align-items: center;

                .box_in_text {
                    min-width: 100%;
                    min-height: 12vh;
                    padding: 5px 20px;

                    .rider_text_col {
                        display: flex;
                        justify-content: space-between;
                        max-width: 100%;
                        max-height: 6vh;
                        color: black;
                    }

                    .rider_box_line {
                        background-color: black;
                        max-width: 100%;
                        min-height: 4px;
                    }

                    .line_up_1 {
                        background-color: #ff004e;
                        max-width: 70%;
                        min-height: 7px;
                        margin-top: -5px;
                    }

                    .line_up_2 {
                        background-color: #ff004e;
                        max-width: 85%;
                        min-height: 7px;
                        margin-top: -5px;
                    }

                    .line_up_3 {
                        background-color: #ff004e;
                        max-width: 90%;
                        min-height: 7px;
                        margin-top: -5px;
                    }

                    .line_up_4 {
                        background-color: #ff004e;
                        max-width: 65%;
                        min-height: 7px;
                        margin-top: -5px;
                    }
                }
            }
        }
    }

    #cityRider-down {
        background-color: #dcd8cd;
        min-height: 90vh;
        max-width: 100%;
        display: flex;

        .city_down_left {
            min-width: 50%;
            min-height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .left_box_text {
                min-width: 86%;
                min-height: 48vh;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h1 {
                    font-size: 55px;
                }

                span {
                    font-size: 26px;
                }

                p {
                    max-width: 400px;
                }

                .pink-button {
                    text-align: center;
                    max-width: 130px;
                    max-height: 40px;
                }
            }
        }

        .city_down_right {
            background-image: url(https://dt-ezyrider.myshopify.com/cdn/shop/files/AdobeStock_287721050.jpg?v=1668754912);
            min-width: 50%;
            min-height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: end;

            .left_box_down {
                min-width: 100%;
                min-height: 30vh;
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 40px 0px 0px 20px;

                .hoverBtn {
                    background-color: #ff004e;
                    min-height: 10vh;
                    max-width: 49%;
                    color: white;
                    font-size: 54px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: 0.2s;

                    h5 {
                        opacity: 0;
                        position: absolute;
                        margin-top: 70px;
                        font-size: 40px;
                        transition: 0.3s;

                    }

                    h6 {
                        font-size: 40px;
                        transition: 0.1s;

                    }
                }

                .hoverBtn:hover {
                    background-color: white;
                    color: #ff004e;
                    transition: 0.4s;
                }



                .starting {
                    background-color: #ff004e;
                    min-height: 4vh;
                    max-width: 27%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                }

            }

        }

        .city_down_right:hover {

            .hoverBtn {
                h6 {
                    transform: translateY(-30px);
                    transition: 0.1s;
                    opacity: 0;
                }

                h5 {
                    opacity: 1;
                    transition: 0.3s;
                    transform: translateY(-30px);

                }

            }

        }
    }
}



@media screen and (max-width: 917px) {
    #cityRider {
        #cityRider-up {
            flex-direction: column;
        }

        #cityRider-down {
            flex-direction: column;

        }
    }




// horizontal pink carousel style start by ilkin

#hr-carousel {
    padding: 100px 0;
    background-color: #DAD3C6;

    @mixin white-gradient {
        background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    }

    $animationSpeed: 40s;

    // Animation
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-250px * 10))
        }
    }


    // Styling
    .slider {
        background-color: #ff004e;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0);
        height: 250px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;

        &::before,
        &::after {
            @include white-gradient;
            content: "";
            height: 250px;
            position: absolute;
            width: 200px;
            z-index: 2;
        }

        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }

        &::before {
            left: 0;
            top: 0;
        }

        .slide-track {
            animation: scroll $animationSpeed linear infinite;
            display: flex;
            position: absolute;
            top: 70px;
            width: 100%;

            &:hover {
                animation-play-state: paused;

            }
        }

        .slide {
            height: 200px;
            width: 400px;
            margin: 0 100px;
            opacity: 0.5;

        }
    }


}






// city rider section end 

// section created by Ali end 
















// ----------------------------------------------



#eRiders{

#eRider_up {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

    position: relative;
    background-color: #dcd8cd;

    P {
        color: gray;
        font-size: 150px;
        z-index: 0;
        opacity: 0.1;
    }

    h1 {
        text-align: center;
        position: absolute;
        top: 100px;
        font-size: 50px;
        z-index: 1;
    }

    #wrapper {
        max-width: 88.9%;

        #prev,
        #next {
            display: flex;
            justify-content: center;
            align-content: center;
            border: none;
            padding: 8px;
            cursor: pointer;
            position: absolute;
        }


        #prev {
            top: 60%;
            left: 30px;
            font-size: 40px;
            background-color: transparent;
            color: gray;
            border: none;
        }

        #prev:focus {
            outline: 0;
        }

        #next {
            top: 60%;
            right: 30px;
            font-size: 40px;
            background-color: transparent;
            color: gray;

        }

        #next:focus {
            outline: 0;
        }

        #carousel {
            overflow: auto;
            scroll-behavior: smooth;
            scrollbar-width: none;

            #content {
                display: grid;
                grid-auto-flow: column;
                margin: auto;
                box-sizing: border-box;

                .eRider_img_1 {
                    overflow: hidden;
                    width: 450px;
                    height: 450px;
                    transition: 0.4s;
                    position: relative;
                    .erider_hover {
                        background-color: rgba(255, 0, 76, 0.6);
                        width: 450px;
                        height: 450px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        visibility: hidden;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;


                        h3 {
                            font-size: 40px;
                            color: white;
                        }

                        .eRider_hover_btn {
                            height: 40px;
                            width: 180px;
                            background-color: black;
                            opacity: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            text-decoration: none;
                        }

                        .eRider_hover_btn:hover {
                            background-color: white;
                            color: black;
                        }

                    }
                }

                .eRider_img_1:hover {
                    .erider_hover {
                        visibility: visible;
                        transition: 0.4s;
                        z-index: 2;
                    }

                    .item {

                        transition: 0.4s;
                        transform: scale(1.1);

                    }

                }


                .item {
                    width: 450px;
                    height: 450px;
                    transition: 0.4s;

                }




            }
        }

        #carousel::-webkit-scrollbar {
            height: 0;
        }
    }
}
#eRider_down {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

    position: relative;
    background-color: #dcd8cd;

    #wrapper {
        max-width: 88.9%;

        #prev,
        #next {
            display: flex;
            justify-content: center;
            align-content: center;
            border: none;
            padding: 8px;
            cursor: pointer;
            position: absolute;
        }


        #prev {
            top: 50%;
            left: 30px;
            font-size: 40px;
            background-color: transparent;
            color: gray;
            border: none;
        }

        #prev:focus {
            outline: 0;
        }

        #next {
            top: 50%;
            right: 30px;
            font-size: 40px;
            background-color: transparent;
            color: gray;

        }

        #next:focus {
            outline: 0;
        }

        #carousel {
            overflow: auto;
            scroll-behavior: smooth;
            scrollbar-width: none;

            #content {
                display: grid;
                grid-auto-flow: column;
                margin: auto;
                box-sizing: border-box;

                .eRider_img_1 {
                    overflow: hidden;
                    width: 450px;
                    height: 450px;
                    transition: 0.4s;
                    position: relative;
                    .erider_hover {
                        background-color: rgba(255, 0, 76, 0.6);
                        width: 450px;
                        height: 450px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        visibility: hidden;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;


                        h3 {
                            font-size: 40px;
                            color: white;
                        }

                        .eRider_hover_btn {
                            height: 40px;
                            width: 180px;
                            background-color: black;
                            opacity: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            text-decoration: none;
                        }

                        .eRider_hover_btn:hover {
                            background-color: white;
                            color: black;
                        }

                    }
                }

                .eRider_img_1:hover {
                    .erider_hover {
                        visibility: visible;
                        transition: 0.4s;
                        z-index: 2;
                    }

                    .item {

                        transition: 0.4s;
                        transform: scale(1.1);

                    }

                }


                .item {
                    width: 450px;
                    height: 450px;
                    transition: 0.4s;

                }




            }
        }

        #carousel::-webkit-scrollbar {
            height: 0;
        }
    }
}
}



@media screen and (max-width: 917px) {
    #eRiders{
  
    #eRider_up {
       max-width: 100%;
    
        P {
            color: gray;
            font-size: 150px;
            z-index: 0;
            opacity: 0.1;
        }
    
        h1 {
            position: absolute;
            top: 100px;
            font-size: 50px;
            z-index: 1;
        }
    
        #wrapper {
            max-width: 65.5%;
    
            #prev,
            #next {
                display: flex;
                justify-content: center;
                align-content: center;
                border: none;
                padding: 8px;
                cursor: pointer;
                position: absolute;
            }
    
    
            #prev {
                top: 65%;
                left: 15px;
                font-size: 40px;
                background-color: transparent;
                color: gray;
                border: none;
            }
    
            #prev:focus {
                outline: 0;
            }
    
            #next {
                top: 65%;
                right: 15px;
                font-size: 40px;
                background-color: transparent;
                color: gray;
    
            }
    
            #next:focus {
                outline: 0;
            }
    
            #carousel {
                overflow: auto;
                scroll-behavior: smooth;
                scrollbar-width: none;
    
                #content {
                    display: grid;
                    grid-auto-flow: column;
                    margin: auto;
                    box-sizing: border-box;
    
                    .eRider_img_1 {
                        overflow: hidden;
                        width: 300px;
                        height: 300px;
                        transition: 0.4s;
                        position: relative;
                        .erider_hover {
                            background-color: rgba(255, 0, 76, 0.6);
                            width: 300px;
                            height: 300px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            visibility: hidden;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
    
    
                            h3 {
                                font-size: 40px;
                                color: white;
                            }
    
                            .eRider_hover_btn {
                                height: 40px;
                                width: 180px;
                                background-color: black;
                                opacity: 1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: white;
                                text-decoration: none;
                            }
    
                            .eRider_hover_btn:hover {
                                background-color: white;
                                color: black;
                            }
    
                        }
                    }
    
                    .eRider_img_1:hover {
                        .erider_hover {
                            visibility: visible;
                            transition: 0.4s;
                            z-index: 2;
                        }
    
                        .item {
    
                            transition: 0.4s;
                            transform: scale(1.1);
    
                        }
    
                    }
    
    
                    .item {
                        width: 300px;
                        height: 300px;
                        transition: 0.4s;
    
                    }
    
    
    
    
                }
            }
    
            #carousel::-webkit-scrollbar {
                height: 0;
            }
        }
    }
    #eRider_down {
        max-width: 100%;
         #wrapper {
             max-width: 65.5%;
     
             #prev,
             #next {
                 display: flex;
                 justify-content: center;
                 align-content: center;
                 border: none;
                 padding: 8px;
                 cursor: pointer;
                 position: absolute;
             }
     
     
             #prev {
                 top: 65%;
                 left: 15px;
                 font-size: 40px;
                 background-color: transparent;
                 color: gray;
                 border: none;
             }
     
             #prev:focus {
                 outline: 0;
             }
     
             #next {
                 top: 65%;
                 right: 15px;
                 font-size: 40px;
                 background-color: transparent;
                 color: gray;
     
             }
     
             #next:focus {
                 outline: 0;
             }
     
             #carousel {
                 overflow: auto;
                 scroll-behavior: smooth;
                 scrollbar-width: none;
     
                 #content {
                     display: grid;
                     grid-auto-flow: column;
                     margin: auto;
                     box-sizing: border-box;
     
                     .eRider_img_1 {
                         overflow: hidden;
                         width: 300px;
                         height: 300px;
                         transition: 0.4s;
                         position: relative;
                         .erider_hover {
                             background-color: rgba(255, 0, 76, 0.6);
                             width: 300px;
                             height: 300px;
                             position: absolute;
                             top: 0;
                             left: 0;
                             visibility: hidden;
                             display: flex;
                             flex-direction: column;
                             justify-content: center;
                             align-items: center;
                             gap: 10px;
     
     
                             h3 {
                                 font-size: 40px;
                                 color: white;
                             }
     
                             .eRider_hover_btn {
                                 height: 40px;
                                 width: 180px;
                                 background-color: black;
                                 opacity: 1;
                                 display: flex;
                                 justify-content: center;
                                 align-items: center;
                                 color: white;
                                 text-decoration: none;
                             }
     
                             .eRider_hover_btn:hover {
                                 background-color: white;
                                 color: black;
                             }
     
                         }
                     }
     
                     .eRider_img_1:hover {
                         .erider_hover {
                             visibility: visible;
                             transition: 0.4s;
                             z-index: 2;
                         }
     
                         .item {
     
                             transition: 0.4s;
                             transform: scale(1.1);
     
                         }
     
                     }
     
     
                     .item {
                         width: 300px;
                         height: 300px;
                         transition: 0.4s;
     
                     }
     
     
     
     
                 }
             }
     
             #carousel::-webkit-scrollbar {
                 height: 0;
             }
         }
     }
    }

}




























// -------------------------------------------------
// horizontal pink carousel style end by ilkin



// ACCESSORIES section carousel style by ilkin start

#accessories {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
        padding-bottom: 50px;
        width: 400px;
        text-align: center;

        h1 {
            font-weight: bold;
        }
    }

    swiper-container {
        width: 80%;
        margin: auto;
        height: 500px;
        cursor: grab;

        swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            gap: 0;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

            .card {
                background-color: #E5E1D8;

                .image {
                    height: 60%;
                    img {
                        width: 100%;
                        background-color: #E5E1D8;
                    }

                }

                .card-body {
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 40%;
                }
            }


        }

    }



}
}
// ACCESSORIES section carousel style by ilkin end


// ACCESSORIES section carousel responsive by ilkin start



// ACCESSORIES section carousel responsive by ilkin end